body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.Title{
    font-size: xx-large;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.Intro{
    font-size: large;
}

.Box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
}

.boxImage{
    width: 24em;
}

.subBox{
    padding: 0.2em;
    width: 24em;
    height: 24em;
    margin: 2vw;
    border-radius: 3em;

    font-size: large;
    color: white;
    text-decoration: none;

    transition: all .5s ease-in-out;
    outline: .2vw solid white;
}

.subBox:hover{
    transform: scale(1.05);
}

.subBoxTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}